### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Compilados
*.class

# Logs
*.log

# Temps
*.bak
*.tmp
*.swp

# Builds
/build/
/target/
/out/

#Dependecies
*.jar
*.war
*.ear

# SO
.DS_store
Thumbs.db
